.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: red;
  background-color: black;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
}

.turkey {
  background-image: url('turkey.png');
  background-size: cover;
  
}